@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

:root {
	/* NEUTRAL COLORS */
	--black: #263238;
	--dark-gray: #4d4d4d;
	--gray: #717171;
	--light-gray: #89939e;
	--gray-blue: #abbed1;
	--silver: #f5f7fa;
	--white: #ffffff;

	/* PRIMARY COLORS */
	--primary: #4e4caf;
	--secondary: #263238;

	/* Colors in Color Weight Scale */

	/* Color Shade */
	--primary-950: #292a5d;
	--primary-900: #362e8f;
	--primary-800: #413c9e;
	--primary-700: #4e4caf;
	--primary-600: #7176bd;

	/* Color Tint */
	--primary-500: #8c92c9;
	--primary-400: #a1a6d3;
	--primary-300: #b2b6d9;
	--primary-200: #c0c3db;
	--primary-100: #cdcfdb;
	--primary-50: #f3f8f4;

	/* Action */
	--success: #2e7d31;
	--warning: #fbc02d;
	--error: #e53835;
	--info: #2194f3;
}

.test-class-example {
	background-color: var(--primary);
	color: var(--white);
}

/* CSS Reset */
* {
	margin: 0;
	padding: 0;
}

body {
	font-family: "Inter", sans-serif;
	font-style: normal;
}

/* Global Styles */
h1 {
	font-size: 64px;
	font-weight: 600;
	line-height: 76px;
}

h2 {
	font-size: 36px;
	font-weight: 600;
	line-height: 44px;
}

h3 {
	font-size: 28px;
	font-weight: 700;
	line-height: 36px;
}

h4 {
	font-size: 20px;
	font-weight: 600;
	line-height: 28px;
}

h1,
h2,
h3,
h4 {
	letter-spacing: 1.5px;
	color: var(--dark-gray);
}

p {
	color: var(--gray);
	font-size: 16px;
    font-weight: 300;
}

button {
	background-color: var(--primary);
	color: var(--white);
	border: none;
	cursor: pointer;
	border-radius: 4px;

	display: flex;
	justify-content: center;
	align-items: center;

	gap: 10px;
}

button:hover {
	background-color: var(--primary-600);
}

button:active {
	background-color: var(--primary-800);
}

main {
	display: flex;
	flex-direction: column;

	gap: 48px;
}
