@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
	/* NEUTRAL COLORS */
	--black: #263238;
	--dark-gray: #4d4d4d;
	--gray: #717171;
	--light-gray: #89939e;
	--gray-blue: #abbed1;
	--silver: #f5f7fa;
	--white: #ffffff;

    /* PRIMARY COLORS */
	--primary: #4E4CAF;
	--secondary: #263238;
    
	/* Colors in Color Weight Scale */
    
	/* Color Shade */
	--primary-950: #292A5D;
	--primary-900: #362E8F;
	--primary-800: #413C9E;
	--primary-700: #4E4CAF;
	--primary-600: #7176BD;
    
	/* Color Tint */
	--primary-500: #8C92C9;
	--primary-400: #A1A6D3;
	--primary-300: #B2B6D9;
	--primary-200: #C0C3DB;
	--primary-100: #CDCFDB;
	--primary-50: #f3f8f4;
    
	/* Action */
	--success: #2e7d31;
	--warning: #fbc02d;
	--error: #e53835;
	--info: #2194f3;
}

.test-class-example {
    background-color: var(--primary);
    color: var(--white);
}

/* CSS Reset */
* {
	margin: 0;
	padding: 0;
}

body {
	font-family: "Inter", sans-serif;
	font-style: normal;
}

/* Global Styles */
h1 {
	font-size: 64px;
	font-weight: 600;
	line-height: 76px;
}

h2 {
	font-size: 36px;
	font-weight: 600;
	line-height: 44px;
}

h3 {
	font-size: 28px;
	font-weight: 700;
	line-height: 36px;
}

h4 {
	font-size: 20px;
	font-weight: 600;
	line-height: 28px;
}

